@CHARSET "ISO-8859-1";

.campo {
	height: 800px;
	width: 800px;
	z-index: 0;
	border: 3px solid black;
	background-image: url("../image/campo.png");	
}
.gui {
	width: 475px;
	height: 800px;
	z-index: 0;
	position: absolute;
	left: 850px;
	top: 9px;
	border-width:1px;
	border-style:solid
}
#infopartita {
	height: 100px;
}
#infogiocatore{
	height: 400px;
	padding-top: 15px;
}
#infolotto{
	height: 100px;
	padding-top: 15px;
}
#l21_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l21_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l21_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l21_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l23_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l23_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l23_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l23_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l24_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l24_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l24_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l24_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	;
}
#l26_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l26_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l26_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l26_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l27_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l27_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l27_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l27_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l29_c1 {
	position: absolute;
	left: 2px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}

#l29_c2 {
	position: absolute;
	left: 17.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l29_c3 {
	position: absolute;
	left: 33px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l29_c4 {
	position: absolute;
	left: 48.5px;
	top: 86px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l25_c1 {
	position: absolute;
	left: 85px;
	top: 2px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l25_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l25_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l25_c4 {
	position: absolute;
	top: 48.5px;
	left: 85px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l18_c1 {
	position: absolute;
	top: 2px;
	left: 85px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l18_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l18_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}

#l18_c4 {
	position: absolute;
	left: 85px;
	top: 48.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}


#l16_c1 {
	position: absolute;
	left: 85px;
	top: 2px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l16_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l16_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l16_c4 {
	position: absolute;
	left: 85px;
	top: 48.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l14_c1 {
	position: absolute;
	left: 85px;
	top: 2px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l14_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l14_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l14_c4 {
	position: absolute;
	left: 85px;
	top: 48.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l13_c1 {
	position: absolute;
	left: 85px;
	top: 2px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l13_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l13_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l13_c4 {
	position: absolute;
	left: 85px;
	top: 48.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l11_c1 {
	position: absolute;
	left: 85px;
	top: 2px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l11_c2 {
	position: absolute;
	left: 85px;
	top: 17.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l11_c3 {
	position: absolute;
	left: 85px;
	top: 33px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l11_c4 {
	position: absolute;
	left: 85px;
	top: 48.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l9_c1 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}


#l9_c2 {
	position: absolute;
	left: 17.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l9_c3 {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l9_c4 {
	position: absolute;
	left: 48.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l8_c1 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l8_c2 {
	position: absolute;
	left: 17.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l8_c3 {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l8_c4 {
	position: absolute;
	left: 48.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l6_c1 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l6_c2 {
	position: absolute;
	left: 17.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l6_c3 {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l6_c4 {
	position: absolute;
	left: 48.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l3_c1 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l3_c2 {
	position: absolute;
	left: 17.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l3_c3 {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l3_c4 {
	position: absolute;
	left: 48.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l1_c1 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l1_c2 {
	position: absolute;
	left: 17.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l1_c3 {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l1_c4 {
	position: absolute;
	left: 48.5px;
	top: 1px;
	width: 15.5px;
	height: 23px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l39_c2 {
	position: absolute;
	left: 1px;
	top: 47.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l39_c2 {
	position: absolute;
	left: 1px;
	top: 32px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l39_c3 {
	position: absolute;
	left: 1px;
	top: 16.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l39_c4 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l37_c1 {
	position: absolute;
	left: 1px;
	top: 47.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l37_c2 {
	position: absolute;
	left: 1px;
	top: 32px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l37_c3 {
	position: absolute;
	left: 1px;
	top: 16.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l37_c4 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l34_c1 {
	position: absolute;
	left: 1px;
	top: 47.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l34_c2 {
	position: absolute;
	left: 1px;
	top: 32px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l34_c3 {
	position: absolute;
	left: 1px;
	top: 16.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l34_c4 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l32_c1 {
	position: absolute;
	left: 1px;
	top: 47.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l32_c2 {
	position: absolute;
	left: 1px;
	top: 32px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l32_c3 {
	position: absolute;
	left: 1px;
	top: 16.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l32_c4 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l31_c1 {
	position: absolute;
	left: 1px;
	top: 49.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l31_c2 {
	position: absolute;
	left: 1px;
	top: 34px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l31_c3 {
	position: absolute;
	left: 1px;
	top: 18.5px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l31_c4 {
	position: absolute;
	left: 1px;
	top: 3px;
	width: 23px;
	height: 15.5px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}


#l21 {
	position: absolute;
	left: 118px;
	top: 9px;
	width: 68px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l22 {
	position: absolute;
	left: 186px;
	top: 9px;
	width: 62px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l23 {
	position: absolute;
	left: 247px;
	top: 9px;
	width: 68px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l24 {
	position: absolute;
	left: 315px;
	top: 9px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l25 {
	position: absolute;
	left: 379px;
	top: 9px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l26 {
	position: absolute;
	left: 443px;
	top: 9px;
	width: 68px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l27 {
	position: absolute;
	left: 510px;
	top: 9px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l28 {
	position: absolute;
	left: 576px;
	top: 9px;
	width: 63px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l29 {
	position: absolute;
	left: 640px;
	top: 9px;
	width: 62px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l30 {
	position: absolute;
	left: 703px;
	top: 9px;
	width: 111px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l20 {
	position: absolute;
	left: 7px;
	top: 9px;
	width: 111px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l10 {
	position: absolute;
	left: 8px;
	top: 704px;
	width: 111px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l0 {
	position: absolute;
	left: 703px;
	top: 705px;
	width: 111px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l9 {
	position: absolute;
	left: 119px;
	top: 703px;
	width: 66px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l8 {
	position: absolute;
	left: 185px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l6 {
	position: absolute;
	left: 316px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l3 {
	position: absolute;
	left: 510px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l1 {
	position: absolute;
	left: 637px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l7 {
	position: absolute;
	left: 252px;
	top: 703px;
	width: 62px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l5 {
	position: absolute;
	left: 381px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l4 {
	position: absolute;
	left: 445px;
	top: 703px;
	width: 64px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l2 {
	position: absolute;
	left: 576px;
	top: 703px;
	width: 58px;
	height: 109px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l11 {
	position: absolute;
	left: 11px;
	top: 637px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l13 {
	position: absolute;
	left: 11px;
	top: 510px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l14 {
	position: absolute;
	left: 11px;
	top: 444px;
	width: 109px;
	height: 65px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l16 {
	position: absolute;
	left: 11px;
	top: 314px;
	width: 109px;
	height: 65px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l18 {
	position: absolute;
	left: 11px;
	top: 184px;
	width: 109px;
	height: 65px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l19 {
	position: absolute;
	left: 11px;
	top: 119px;
	width: 109px;
	height: 65px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l17 {
	position: absolute;
	left: 11px;
	top: 249px;
	width: 109px;
	height: 65px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l15 {
	position: absolute;
	left: 11px;
	top: 381px;
	width: 109px;
	height: 63px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l12 {
	position: absolute;
	left: 11px;
	top: 577px;
	width: 109px;
	height: 61px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l39 {
	position: absolute;
	left: 703px;
	top: 639px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l38 {
	position: absolute;
	left: 703px;
	top: 577px;
	width: 109px;
	height: 61px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l37 {
	position: absolute;
	left: 703px;
	top: 510px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l36 {
	position: absolute;
	left: 703px;
	top: 447px;
	width: 109px;
	height: 61px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l35 {
	position: absolute;
	left: 703px;
	top: 382px;
	width: 109px;
	height: 62px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l34 {
	position: absolute;
	left: 703px;
	top: 315px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l33 {
	position: absolute;
	left: 703px;
	top: 251px;
	width: 109px;
	height: 62px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l32 {
	position: absolute;
	left: 703px;
	top: 184px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l31 {
	position: absolute;
	left: 703px;
	top: 117px;
	width: 109px;
	height: 66px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
}
#l21_7 {
	position: absolute;
	left: 3px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
	
	
}

#l21_6 {
	position: absolute;
	left: 19px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
	
}
#l21_5 {
	position: absolute;
	left: 35px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l21_4 {
	position: absolute;
	left: 51px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l21_3 {
	position: absolute;
	left: 3px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
	
}
#l21_2 {
	position: absolute;
	left: 19px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l21_1 {
	position: absolute;
	left: 35px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l21_0 {
	position: absolute;
	left: 51px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0x;
	border-style: none;
	border-radius: 50%;
	
}
#l22_7 {
	position: absolute;
	left: 1px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_6 {
	position: absolute;
	left: 16px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_5 {	position: absolute;
	left: 31px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_4 {position: absolute;
	left: 46px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_3 {
	position: absolute;
	left: 1px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_2 {position: absolute;
	left: 16px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_1 {position: absolute;
	left: 31px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l22_0 {position: absolute;
	left: 46px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_7 {
	position: absolute;
	left: 2px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_6 {position: absolute;
	left: 19px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_5 {position: absolute;
	left: 35px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_4 {position: absolute;
	left: 51px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_3 {position: absolute;
	left: 3px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_2 {position: absolute;
	left: 19px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_1 {position: absolute;
	left: 35px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l23_0 {position: absolute;
	left: 51px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_7 {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_6 {	position: absolute;
	left: 16px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_5 {position: absolute;
	left: 32px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_4 {position: absolute;
	left: 48px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_3 {	position: absolute;
	left: 0px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_2 {position: absolute;
	left: 16px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_1 {position: absolute;
	left: 32px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l24_0 {position: absolute;
	left: 48px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_7 {	position: absolute;
	left: 1px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_6 {position: absolute;
	left: 16px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_5 {position: absolute;
	left: 31px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_4 {position: absolute;
	left: 46px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_3 {position: absolute;
	left: 1px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_2 {position: absolute;
	left: 16px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_1 {position: absolute;
	left: 31px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l25_0 {position: absolute;
	left: 46px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_7 {	position: absolute;
	left: 3px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_6 {position: absolute;
	left: 19px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_5 {position: absolute;
	left: 35px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_4 {position: absolute;
	left: 51px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_3 {position: absolute;
	left: 3px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_2 {position: absolute;
	left: 19px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_1 {position: absolute;
	left: 35px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l26_0 {position: absolute;
	left: 51px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_7 {position: absolute;
	left: 1px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_6 {position: absolute;
	left: 17px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_5 {position: absolute;
	left: 33px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_4 {position: absolute;
	left: 49px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_3 {position: absolute;
	left: 1px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_2 {position: absolute;
	left: 17px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_1 {position: absolute;
	left: 33px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l27_0 {position: absolute;
	left: 49px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_7 {position: absolute;
	left: 1px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_6 {position: absolute;
	left: 16px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_5 {position: absolute;
	left: 31px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_4 {position: absolute;
	left: 46px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_3 {position: absolute;
	left: 1px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_2 {position: absolute;
	left: 16px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_1 {position: absolute;
	left: 31px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l28_0 {position: absolute;
	left: 46px;
	top: 34px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_7 {
	position: absolute;
	left: 1px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_6 {position: absolute;
	left: 17px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_5 {position: absolute;
	left: 33px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_4 {position: absolute;
	left: 49px;
	top: 16px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_3 {	position: absolute;
	left: 1px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_2 {position: absolute;
	left: 17px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_1 {position: absolute;
	left: 33px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l29_0 {position: absolute;
	left: 49px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_0 {	position: absolute;
	left: 27px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_1 {position: absolute;
	left: 43px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_2 {position: absolute;
	left: 59px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_3 {position: absolute;
	left: 75px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_4 {position: absolute;
	left: 27px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_5 {position: absolute;
	left: 43px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_6 {position: absolute;
	left: 59px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l20_7 {position: absolute;
	left: 75px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_0 {position: absolute;
	left: 27px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_1 {position: absolute;
	left: 43px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_2 {position: absolute;
	left: 59px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_3 {position: absolute;
	left: 75px;
	top: 45px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_4 {position: absolute;
	left: 27px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_5 {position: absolute;
	left: 43px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_6 {position: absolute;
	left: 59px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l30_7 {position: absolute;
	left: 75px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_0 {
	position: absolute;
	left: 1px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_4 {
	position: absolute;
	left: 1px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_1 {	position: absolute;
	left: 17px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_2 {position: absolute;
	left: 33px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_3 {position: absolute;
	left: 49px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_5 {	position: absolute;
	left: 17px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_6 {position: absolute;
	left: 33px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l9_7 {position: absolute;
	left: 49px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_0 {	position: absolute;
	left: 1px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_1 {position: absolute;
	left: 17px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_2 {position: absolute;
	left: 33px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_3 {position: absolute;
	left: 49px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_4 {position: absolute;
	left: 1px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_5 {position: absolute;
	left: 17px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_6 {position: absolute;
	left: 33px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l8_7 {position: absolute;
	left: 49px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_0 {position: absolute;
	left: 1px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_1 {position: absolute;
	left: 17px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_2 {position: absolute;
	left: 33px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_3 {position: absolute;
	left: 49px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_4 {position: absolute;
	left: 1px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_5 {position: absolute;
	left: 17px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_6 {position: absolute;
	left: 33px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l6_7 {position: absolute;
	left: 49px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_0 {position: absolute;
	left: 1px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_1 {position: absolute;
	left: 17px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_2 {position: absolute;
	left: 33px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_3 {position: absolute;
	left: 49px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_4 {position: absolute;
	left: 1px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_5 {position: absolute;
	left: 17px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_6 {position: absolute;
	left: 33px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l3_7 {position: absolute;
	left: 49px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_0 {position: absolute;
	left: 0px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_1 {position: absolute;
	left: 16px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_2 {position: absolute;
	left: 32px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_3 {position: absolute;
	left: 48px;
	top: 62px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_4 {position: absolute;
	left: 0px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_5 {position: absolute;
	left: 16px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_6 {position: absolute;
	left: 32px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l1_7 {position: absolute;
	left: 48px;
	top: 79px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_4 {	position: absolute;
	left: 0px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_5 {position: absolute;
	left: 15px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_6 {position: absolute;
	left: 30px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_7 {position: absolute;
	left: 45px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_0 {position: absolute;
	left: 0px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_1 {position: absolute;
	left: 15px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_2 {position: absolute;
	left: 30px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l7_3 {position: absolute;
	left: 45px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_4 {position: absolute;
	left: 1px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_5 {position: absolute;
	left: 16px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_6 {position: absolute;
	left: 31px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_7 {position: absolute;
	left: 46px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_0 {position: absolute;
	left: 1px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_1 {position: absolute;
	left: 16px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_2 {position: absolute;
	left: 31px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l5_3 {position: absolute;
	left: 46px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_0 {position: absolute;
	left: 2px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_1 {position: absolute;
	left: 17px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_2 {position: absolute;
	left: 32px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_3 {position: absolute;
	left: 47px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_4 {position: absolute;
	left: 2px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_5 {position: absolute;
	left: 17px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_6 {position: absolute;
	left: 32px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l4_7 {position: absolute;
	left: 47px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_0 {position: absolute;
	left: 0px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_1 {position: absolute;
	left: 15px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_2 {position: absolute;
	left: 30px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_3 {position: absolute;
	left: 45px;
	top: 62px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_4 {position: absolute;
	left: 0px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_5 {position: absolute;
	left: 15px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_6 {position: absolute;
	left: 30px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l2_7 {position: absolute;
	left: 45px;
	top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_4 {
	position: absolute;
	left: 27px;
	top: 74px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_5 {	position: absolute;
	left: 43px;
	top: 74px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_6 {position: absolute;
	left: 59px;
	top: 74px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_7 {position: absolute;
	left: 75px;
	top: 74px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_0 {	position: absolute;
	left: 27px;
	top: 57px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_1 {position: absolute;
	left: 43px;
	top: 57px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_2 {position: absolute;
	left: 59px;
	top: 57px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l0_3 {position: absolute;
	left: 75px;
	top: 57px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_4 {
	position: absolute;
	left: 27px;
	top: 89px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_5 {	position: absolute;
	left: 43px;
	top: 89px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_6 {	position: absolute;
	left: 59px;
	top: 89px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_7 {	position: absolute;
	left: 75px;
	top: 89px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}

#l10_3 {
	position: absolute;
	left: 4px;
	top: 63px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_2 {	position: absolute;
	left: 4px;
	top: 47px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_1 {position: absolute;
	left: 4px;
	top: 31px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l10_0 {position: absolute;
	left: 4px;
	top: 15px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_0 {
	position: absolute;
	left: 38px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_4 {	position: absolute;
	left: 38px;
	top: 34px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_1 {	position: absolute;
	left: 54px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_2 {position: absolute;
	left: 70px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_3 {position: absolute;
	left: 86px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_5 {position: absolute;
	left: 54px;
	top: 34px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_6 {position: absolute;
	left: 70px;
	top: 34px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#lp_7 {position: absolute;
	left: 86px;
	top: 34px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_0 {
	position: absolute;
	left: 28px;
	top: 3px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_4 {
	position: absolute;
	left: 11px;
	top: 3px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_1 {	position: absolute;
	left: 28px;
	top: 19px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_2 {position: absolute;
	left: 28px;
	top: 35px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_3 {position: absolute;
	left: 28px;
	top: 51px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_5 {position: absolute;
	left: 11px;
	top: 19px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_6 {position: absolute;
	left: 11px;
	top: 35px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l11_7 {position: absolute;
	left: 11px;
	top: 51px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_4 {	position: absolute;
	left: 11px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_6 {position: absolute;
	left: 11px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_7 {position: absolute;
	left: 11px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_0 {position: absolute;
	left: 28px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_1 {position: absolute;
	left: 28px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_2 {position: absolute;
	left: 28px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l13_3 {position: absolute;
	left: 28px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_6 {position: absolute;
	left: 11px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_7 {position: absolute;
	left: 11px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_0 {position: absolute;
	left: 28px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_1 {position: absolute;
	left: 28px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_2 {position: absolute;
	left: 28px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l14_3 {position: absolute;
	left: 28px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_6 {position: absolute;
	left: 11px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_7 {position: absolute;
	left: 11px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_0 {position: absolute;
	left: 28px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_1 {position: absolute;
	left: 28px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_2 {position: absolute;
	left: 28px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l16_3 {position: absolute;
	left: 28px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_6 {position: absolute;
	left: 11px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_7 {position: absolute;
	left: 11px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_0 {position: absolute;
	left: 28px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_1 {position: absolute;
	left: 28px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_2 {position: absolute;
	left: 28px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l18_3 {position: absolute;
	left: 28px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_6 {position: absolute;
	left: 11px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_7 {position: absolute;
	left: 11px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_0 {position: absolute;
	left: 28px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_1 {position: absolute;
	left: 28px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_2 {position: absolute;
	left: 28px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l19_3 {position: absolute;
	left: 28px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_5 {position: absolute;
	left: 11px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_6 {position: absolute;
	left: 11px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_7 {position: absolute;
	left: 11px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_0 {position: absolute;
	left: 29px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_1 {position: absolute;
	left: 29px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_2 {position: absolute;
	left: 29px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l12_3 {position: absolute;
	left: 29px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_4 {position: absolute;
	left: 11px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_5 {position: absolute;
	left: 11px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_6 {position: absolute;
	left: 11px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_7 {position: absolute;
	left: 11px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_0 {position: absolute;
	left: 29px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_1 {position: absolute;
	left: 29px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_2 {position: absolute;
	left: 29px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l15_3 {position: absolute;
	left: 29px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_4 {position: absolute;
	left: 11px;
	top: 2px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_5 {position: absolute;
	left: 11px;
	top: 17px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_6 {position: absolute;
	left: 11px;
	top: 32px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_7 {position: absolute;
	left: 11px;
	top: 47px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_0 {position: absolute;
	left: 29px;
	top: 2px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_1 {position: absolute;
	left: 29px;
	top: 17px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_2 {position: absolute;
	left: 29px;
	top: 32px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l17_3 {position: absolute;
	left: 29px;
	top: 47px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_3 {
	position: absolute;
	left: 60px;
	top: 3px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_7 {	position: absolute;
	left: 77px;
	top: 3px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_2 {	position: absolute;
	left: 60px;
	top: 19px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_1 {position: absolute;
	left: 60px;
	top: 35px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_0 {position: absolute;
	left: 60px;
	top: 51px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_6 {position: absolute;
	left: 77px;
	top: 19px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_5 {position: absolute;
	left: 77px;
	top: 35px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l31_4 {position: absolute;
	left: 77px;
	top: 51px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_3 {	position: absolute;
	left: 60px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_2 {position: absolute;
	left: 60px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_1 {position: absolute;
	left: 60px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_0 {position: absolute;
	left: 60px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_7 {position: absolute;
	left: 77px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_6 {position: absolute;
	left: 77px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_5 {position: absolute;
	left: 77px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l32_4 {position: absolute;
	left: 77px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_2 {position: absolute;
	left: 60px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_1 {position: absolute;
	left: 60px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_0 {position: absolute;
	left: 60px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_7 {position: absolute;
	left: 77px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_6 {position: absolute;
	left: 77px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_5 {position: absolute;
	left: 77px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l34_4 {position: absolute;
	left: 77px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_2 {position: absolute;
	left: 60px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_1 {position: absolute;
	left: 60px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_0 {position: absolute;
	left: 60px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_7 {position: absolute;
	left: 77px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_6 {position: absolute;
	left: 77px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_5 {position: absolute;
	left: 77px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l37_4 {position: absolute;
	left: 77px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_2 {position: absolute;
	left: 60px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_1 {position: absolute;
	left: 60px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_0 {position: absolute;
	left: 60px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_7 {position: absolute;
	left: 77px;
	top: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_6 {position: absolute;
	left: 77px;
	top: 17px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_5 {position: absolute;
	left: 77px;
	top: 33px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l39_4 {position: absolute;
	left: 77px;
	top: 49px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_2 {position: absolute;
	left: 60px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_1 {position: absolute;
	left: 60px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_0 {position: absolute;
	left: 60px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_7 {position: absolute;
	left: 78px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_6 {position: absolute;
	left: 78px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_5 {position: absolute;
	left: 78px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l33_4 {position: absolute;
	left: 78px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_3 {position: absolute;
	left: 60px;
	top: 0px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_2 {position: absolute;
	left: 60px;
	top: 15px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_1 {position: absolute;
	left: 60px;
	top: 30px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_0 {position: absolute;
	left: 60px;
	top: 45px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_7 {position: absolute;
	left: 78px;
	top: 0px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_6 {position: absolute;
	left: 78px;
	top: 15px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_5 {position: absolute;
	left: 78px;
	top: 30px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l35_4 {position: absolute;
	left: 78px;
	top: 45px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_2 {position: absolute;
	left: 60px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_1 {position: absolute;
	left: 60px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_0 {position: absolute;
	left: 60px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_7 {position: absolute;
	left: 78px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_6 {position: absolute;
	left: 78px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_5 {position: absolute;
	left: 78px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l36_4 {position: absolute;
	left: 78px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_3 {position: absolute;
	left: 60px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_2 {position: absolute;
	left: 60px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_1 {position: absolute;
	left: 60px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_0 {position: absolute;
	left: 60px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_7 {position: absolute;
	left: 78px;
	top: 1px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_6 {position: absolute;
	left: 78px;
	top: 16px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_5 {position: absolute;
	left: 78px;
	top: 31px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}
#l38_4 {position: absolute;
	left: 78px;
	top: 46px;
	width: 15px;
	height: 15px;
	z-index: 1;
	border-width: 0px;
	border-style: none;
	border-radius: 50%;
}