@CHARSET "ISO-8859-1";
body{
	background-color: rgb(76, 175, 80);
}

button{
	border-radius: 5px;
    box-shadow: 2px 3px 13px black;
    color: orange;
}

#containerDati{
	background-color: green;
	border-color:green;
	top:30px;
	left: 21%;
	border-radius: 18px;
	box-shadow: 2px 3px 13px black;
}

#logo{
	margin-bottom: 10px;
}



#pannello{
	border-color: #333;
	box-shadow: 2px 3px 13px black;
}

#intestazionePannello{
	color: #f5f5f5;
    background-color: #9E0E14;
    border: none;
    text-align: center;
    text-decoration: none;
}

#intestazionePannello:HOVER{
	background-color: #d20000;
}

#listaGlyphicon{
	margin-bottom: 10px;
}
.glyphicon {
    font-size: 50px;
}
.glyphicon:HOVER{
	color: #FFD700;
}

.invisibile{
	display: none;
}
