@font-face {
    font-family: Kabob Extrabold Regular;
    src: url('assets/Kabob.ttf');
}

.root{
	-fx-background-color: #dae5d6;
	-fx-font-family: "Kabob Extrabold Regular";
	-fx-font-size: 16px;
	-fx-letterSpacing: 2;
	-fx-text-fill: #111;
}

.button{
    -fx-text-fill: #fff;
    -fx-border-color:#9eb1a3;
    -fx-border-radius: 9;
    -fx-background-color: #5fac75;
    -fx-font-weight: bold;
}

.btn-primary{
	-fx-background-color: #337ab7;
    -fx-border-color: #2e6da4;
}

.toolbar .button{
	-fx-font-size: 16;
	-fx-text-fill: #FFF;
	-fx-background-color: #5fac75;
}

.grid-content{
	-fx-padding:30;
}

.hbox{
	 -fx-padding: 15;
    -fx-spacing: 10;
}

.welcome .h-buttons{
	-fx-padding: 70,0,0,0;
}
.welcome .h-buttons .button{
	-fx-font-size: 20;
}

#game-ctrls{
	-fx-background-color: #9eb1a3;
}


.board {

}
.board-cell {
    /*-fx-background-color: black, white ;*/
    -fx-background-insets: 0, 0 1 1 0 ;
}
.board-cell.first-rw {
    -fx-background-insets: 0, 1 1 1 0 ;
}
.board-cell.first-col {
    -fx-background-insets: 0, 0 1 1 1 ;
}
.board-cell.first-rw.first-col {
    -fx-background-insets: 0, 1 ;
}

.titled-pane{
	-fx-padding: 0 0 10 0;
	-fx-min-height:90;
}

.assetContainer, .leftContainer{
	-fx-padding:10;
}

